
body{
    background-color: #04bdb7;
}

<<<<<<< HEAD
.main, .footer{
    background-color: white;
    min-height: 90vh;
=======
#main{
    background-color: white;
    min-height: 90vh;
}
#header
{
    min-height: 3vh;
}
.navbar{
    min-height: 7vh;
>>>>>>> 7fbde79245d47e50ccbf63a8683523625a249b44
}
.navbar-nav{
    color: white;
}

.h1{
    font-size: 25px;
}
