
body{
    background-color: #04bdb7;
}

.main{
    background-color: white;
    min-height: 85vh;
}
#header
{
    min-height: 3vh;
}
.navbar{
    min-height: 7vh;
}
.navbar-nav{
    color: white;
}

.h1{
    font-size: 25px;
}
